body {
  background-color: #37515f;
}

#intro {
  text-align: center;
  font-size: 40px;
  background: rgb(30, 34, 33);
  color: rgb(149, 213, 178);
  border-style: solid;
  border-radius: 10px;
  border-color: aqua;
  padding: 30px;
}

.quiz-instructions {
  text-align: center;
  font-size: 25px;
  background: rgb(30, 34, 33);
  color: white;
  margin-bottom: 25px;
  border-style: solid;
  border-radius: 10px;
  border-color: aqua;
}

#start-button {
  padding: 15px;
  font-size: 25px;
  background: rgb(216, 243, 220);
  color: rgb(30, 34, 33);
  background-size: 100px;
  width: 150px;
  border-style: solid;
  border-radius: 10px;
  border-color: aqua;
}

#start-button:hover {
  cursor: pointer;
}

#time {
  font-size: 48px;
}

#question {
  text-align: center;
  font-size: 20px;
  background: rgb(30, 34, 33);
  margin-bottom: 50px;
  padding: 70px 0;
  max-height: 35px;
  color: rgb(149, 213, 178);
  position: relative;
  border-style: solid;
  border-radius: 10px;
  border-color: aqua;
}

.answers-box {
  position: relative;
  margin-bottom: 15px;
  border-radius: 5px;
  border-color: violet;
  background: rgb(30, 34, 33);
  font-size: 16px;
  color: white;
  text-align: center;
  display: flex;
  padding: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: aqua;
}

.answers-box:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgb(70, 0, 128);
  cursor: pointer;
}

.answer-letter {
  color: rgb(149, 213, 178);
  margin-left: 500px;
  font-size: 20px;
}

.answer-text {
  margin-right: 550px;
  width: 100%;
  font-size: 20px;
}

.hide {
  display: none;
}

#replay-button {
  padding: 15px;
  font-size: 25px;
  background: rgb(216, 243, 220);
  color: rgb(30, 34, 33);
  margin-left: 47%;
  margin-bottom: 30px;
  background-size: 100px;
  width: 150px;
  border-style: solid;
  border-radius: 10px;
  border-color: aqua;
}

#high-scores-menu {
  color: red;
  font-size: 24px;
}

@media screen and (max-width: 360) {
  .quiz-box header .answers-box {
    max-width: 50%;
  }
}

@media screen and (max-width: 480) {
  .quiz-box header .answers-box {
    max-width: 59%;
  }
}

@media screen and (max-width: 768) {
  .quiz-box header .answers-box {
    max-width: 75%;
  }
}

@media screen and (max-width: 992) {
  .quiz-box header .answers-box {
    max-width: 100%;
  }
}
